.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
}

.button {
  padding: 8px 16px;
  border-radius: var(--card-border-radius);
  background-color: var(--button-color);
  color: #fff;
}
