@font-face {
  font-family: "VT323-Regular";
  font-style: normal;
  src: local("VT323-Regular"),
    url(./assets/VT323-Regular.ttf) format("truetype");
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--background-color);
}

html,
* {
  font-family: VT323-Regular;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --background-color: #000;

  --card-background-color: #fff;
  --card-padding: 16px;
  --card-border-radius: 8px;

  --pixel-border: 2px solid #000;
  --pixel-border-radius: 4px;
  --pixel-size: 12px;
  --pixel-margin: 1px;
}
